*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{

  background-color:rgb(240, 238, 238);
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 100px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;

}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 300px;
  
  
}

#navbar li{
  list-style: none;
  padding: 0 20px;

}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover{
  color: #9026b7;
}

.mobile {
  display: none;
  align-items: center;
}

#hero{
  display: flex;
  
}
#hero img{
  height: 60vh;
  width: 45%;
  margin-top:10% ;
  margin-left: 5%;
}

#hero .text{
    box-sizing: content-box;
    background-color: rgb(61, 56, 56);
    margin-left: 5%;
    margin-right: 1%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: white;
  padding-left: 50px;
  padding-right: 300px;
  padding-top: 70px;
  
}

#hero .text h2{
  margin-top: 25%;
  font-size: 40px;
 line-height: 1.5;
 
}

#hero .text h4{
  font-size: 20px;
  line-height: 1.3;
}

#hero .text form input{
  
  text-decoration: none;
  outline: none;
  border-radius: 40px;
  width: 100%;
  height: 70%;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 10px 25px ;
  margin-top: 10%;
  margin-left: 15%;
  font-size: 20px;
}

#hero .text form button{
  outline: none;
  border-radius: 40px;
  width: 115%;
  height: 70%;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding:10px 25px;
  margin-top: 10%;
  cursor: pointer;
  background-color: rgb(160, 82, 197);
  margin-left: 15%;
  font-size: 20px;
  color: white;
}

#hero .text form button:hover{
  background-color: salmon;
}

#feature h2{
  text-align: center;
  padding: 50px;
  font-size: 40px;
}

.fe-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;

}


.card{
  width: 290px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
  margin: 10px;
}


.card img{
  width: 100%;
  height: auto;
}

.card-content{
  padding: 35px;
}

.card-content:hover{
  color: #9e50ba ;
}

.card-content h3{
  font-size: 30px;
  margin-bottom: 8px;
}

.card-content p{
  color: rgb(170, 168, 168);
  font-size: 20px;
  line-height: 1.3;
}

#sale{
   display: flex;
   text-align: center;
   justify-content: space-between;
   padding: 100px 200px;
   
}

#sale h2{
  font-size: 80px;
}

#sale p{
  font-size: 30px;
}

#photo img{
  align-items: center;
  width: 60%;
  height: 700px;
  padding-left: 280px;

}

#text{
  justify-content: center;
}
#test h2{
  text-align: center;
  font-size: 40px;
}

.te-box{
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  

}


.tcard{
  width: 1000px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
  margin: 10px;
  justify-content: center;
  margin-left: 18%;
 
}

.tcard:hover{
  background-color: #eacbf5;
}


.tcard img{
  width: 8%;
  height: auto;
  padding: 20px;
  vertical-align: top;
  border-radius: 60px;
}


.d-content{
  padding-left: 25px;
  padding-right: 25px;
}

.d-content h3{
  margin-left: 10%;
  margin-top: -7%;
}

.d-content p{
  margin-top: 6%;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 400px;
  background-color:rgb(61, 56, 56) ;
 padding-left: 400px;
  
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-top: 40px;
  color: white;
  
  
}

footer .it{
  margin-bottom: 30px;
  width: 40%;

}

footer h4{
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 5px;
}

footer p{
  font-size: 18px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.copyright p{
  color: #c4bfbf;
  text-align: center;
 background-color:rgb(61, 56, 56) ;
 padding-top: 5px;
 padding-bottom: 30px;
 font-size: 20px;
}

footer .icons{
  color: #a7eaf0;
  cursor: pointer;
}

@media (max-width:799px) {
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 300px;
    position: fixed;
    top:0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
  }
  #navbar li{
    margin: 25px;
  }
  .mobile{
    display: flex;
    align-items: center;
  }

  #hero{
    justify-content: center;
    display: grid;
  }

  #hero img{
    width: 350px;
    height: 380px;
    padding-top: 70px;
    padding-bottom: 20px;
  }

  #hero .text{
    margin-left: 0;
  }

  #hero form{
    padding-top: 20px;
    padding-bottom: 40px;
  }

  #hero form button{
   width: 115%;
   padding:10px 25px;
  }


  #feature{
    justify-content: center;
  grid-column: auto;
   
  }
  #feature h2{
    justify-content: center;
    font-size: 30px;
    margin-left: -40px;
  }
  #sale h2{
    justify-content: center;
    font-size: 30px;
    padding-left: -px;
    display: grid;
  }

  #test .te-box{
    display: grid;
  }

  #photo img{
    justify-content: center;
    padding-left: 20px;
    height: 300px;
  }}